@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

/* Blue highlight Reset */
:focus {
  outline: none !important;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Horizontal scroll reset */
body {
  overflow-x: hidden;
}

/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 2px;
  /* background: #fff; */
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Hero section */

#hero {
  background: url("./assets/jpg/heroBackground.jpg");
  background-repeat: no-repeat;
  height: calc(100vh + 10rem);
  background-size: cover;
  background-position: bottom center;
  clip-path: circle(94.8% at 35% 13%);
}

.clip {
  height: calc(100vh + 10rem);
  clip-path: circle(94.8% at 35% 13%);
}

/* Testimonial section */

#verse {
  background: url("./assets/jpg/fellowship.jpg");
  background-position: center;
  background-size: cover;
  height: 75vw;
}

@media screen and (max-width: 640px) {
  #verse {
    height: 40rem;
  }
}
